//// Hero
.hero-home {
  .hero-img-container {
    .img-hero {
      min-height: 100vh;
    }
    .hero-text-container {
      margin: auto;
    }
  }
}

//// Services
#services-container {
  margin-top: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .row {
    h2 {
      margin-bottom: 8rem;
    }
  }
}

//// Pitch
#pitch-container {
  .row {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .ui.header.primary {
      margin-bottom: 1rem;
    }
    .toulouse-c42 {
      margin: auto;
    }
    .nouvelles-technologies-c42 {
      margin: auto;
    }
    .flexibilite-c42 {
      margin: auto;
    }
  }
}

//// Testimonials
#testimonials-list {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f9f9f9;

  .carousel-button-next {
    display: flex;
    justify-content: center;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .carousel-button-prev {
    display: flex;
    justify-content: center;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .testimonial {
    min-height: 350px;
    .rating-container {
      display: flex;
      justify-content: center;
    }
    .testimonial-card-description {
      max-width: 90%;
    }
    .btn {
      &--prev {
        margin-right: 2rem;
      }
      &--next {
        margin-left: 2rem;
      }
    }
  }
}

//// Responsive ////
@media only screen and (min-width: 723px) {
  // Pitch
  #pitch-container {
    .row {
      .toulouse-c42 {
        max-width: 90%;
      }
      .nouvelles-technologies-c42 {
        max-width: 70%;
      }
      .flexibilite-c42 {
        max-width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  // Hero
  .hero-home {
    .hero-img-container {
      .img-hero {
        max-height: 100vh !important;
        min-height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  // Hero
  .hero-home {
    .hero-text-container {
      margin: 3rem 0 3rem 0;
    }
  }

  // Services
  #services-container {
    padding-bottom: 2rem;
    padding-top: 5rem;
    .row {
      h2 {
        margin-bottom: 5rem;
      }
      .four.column {
        margin-bottom: 5rem;
      }
    }
  }

  // Pitch
  #pitch-container {
    .row {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  // Testimonials
  #testimonials-list {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
