.ui.container.contact-header {
  padding: 8rem 0 8rem 0;
}

.ui.fluid.container.primary.contact-form-container {
  padding: 8rem;
  .row.contact-form {
    padding: 3rem;
    background: white;
    border-radius: 10px;

    .ui.form .fields .field .ui.input input,
    .ui.form .field .ui.input input,
    textarea {
      background: #f9f9f9;
      border: 0;
      color: black;
    }
    .submit-btn {
      margin: 3rem auto auto auto;
      display: flex;
    }
  }
  .contact-links {
    margin-top: 3rem;
    .icon {
      margin-right: 1rem;
    }
  }
}
