#notfound-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .notfound-header {
    font-size: 10rem;
  }
  .notfound-text {
    margin-bottom: 3rem;
  }
}
