.ui.fluid.container.notfound--container {
  padding: 10rem;
  background: #f9f9f9;
  .notfound--header {
    font-size: 10rem;
  }
  .notfound--text {
    max-width: 90%;
    text-align: center;
  }
}
