.large-menu-classname {
  .nav-item {
    display: inline;
    justify-content: center;
  }
}

.small-menu-classname {
  i.bars.large.icon {
    float: left;
    margin: 1rem 0 1rem 1rem;
  }
  .ui.borderless.top.fixed.menu {
    display: block;
    a {
      justify-content: center;
    }
  }
}
